* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #dde;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 0 0.5rem 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: white;
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.menuitem {
  margin-bottom: 0.5rem;
}

.menuitem > label {
  display:flex;
}

@media (max-width: 500px) {
  .menuitem > label {
    display: block;
  }
  .menuitem > label > select {
    width: 100%;
  }
}

.menuitem > label > select {
  margin-left: 1rem;
  flex-grow: 1;
}

.centered {
  width: 100%;
  text-align: center;
}

.play-button {
  width: 256px;
  max-width: 80%;
}

.button,
button {
  margin: 0.75rem 0 0 0;
  font-size: 2rem;
  border: solid #46f 2px;
  box-shadow: 0 0.5rem #24a;
  background-color: #46c;
  position: relative;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.button:hover,
button:hover {
  top: -0.25rem;
  box-shadow: 0 0.75rem #24a;
}

.button:active,
button:active {
  top: 0.25rem;
  box-shadow: 0 0.25rem #24a;
}

.button:focus,
button:focus {
  border: solid #88f 2px;
}

#map-arranger {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.city-map {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  border: solid #46f 2px;
  box-shadow: 0 0.5rem #24a;
}

.map-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 0;
  padding: 1rem;
  padding-top: 0;
}

.modal-backdrop {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
}

.modal-backdrop > div {
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 1000px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}

#answer {
  display: none;
}

@media (min-aspect-ratio: 1) {
  #map-arranger {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .map-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
    height: 100%;
  }
}