body
{
  background-color: #a1d3f7;
  margin: 0;
  font-size: 6vw;
}

.maincont
{
  width: 78%;
  margin-left:10vw;
}

.textin
{
  width:90%;
  font-size: 6vw;
  border-radius: 2vw;
  border: solid .5vw grey;
  padding-left: 1vw;
}

.textin:focus
{
  border: solid .5vw blue;
}

.letterDisp
{
  position: fixed;
  top:0;
  right:0;
  width: 10vw;
  height: 10vw;
  background-color: white;
  border: solid .5vw grey;
  border-radius: 2vw;
  font-size: 10vw;
}

.timer
{
  position:fixed;
  bottom:0;
  right:0;
  width: 10vw;
  height: calc(100% - 12vw);
  background-color: lime;
  border: solid .5vw grey;
  border-radius: 2vw;
  overflow: hidden;
}
.timerfill
{
  position:absolute;
  bottom: 0;
  height:100%;
  width: 100%;
  background-color:blue;
  transition: height linear 180s;
}
.popupBox
{
  text-align: center;
  position:fixed;
  display:block;
  top: -40vw;
  left: 5vw;
  width:90vw;
  height:30vw;
  background-color:white;
  border: solid .5vw grey;
  border-radius: 2vw;
  transition: top .5s;
}
.startButt
{
  
  width:80%;
  font-size: 6vw;
  border-radius: 2vw;
  border: solid .5vw grey;
  padding-left: 1vw;
}