body
{
  background-color: #a1d3f7;
  margin: 0;
  font-size: 6vw;
}

.maincont
{
  width: 78%;
  margin-left:10vw;
}

#lst {
  padding-left: 5vw;
}

.textin
{
  width:90%;
  font-size: 6vw;
  border-radius: 2vw;
  border: solid .5vw grey;
  padding-left: 1vw;
}

.textin:focus
{
  border: solid .5vw blue;
}

.rightcont {
  position: fixed;
  display: flex;
  flex-direction: column;
  top:0;
  right:0;
  height: 100%;
}

.letterDisp
{
  position: relative;
  width: 10vw;
  height: 10vw;
  background-color: white;
  border: solid .5vw grey;
  border-radius: 2vw;
  font-size: 10vw;
  text-align: center;
}

.countdown
{
  position: fixed;
  left: 45vw;
  top: -40vh;
  width: 10vw;
  height: 10vw;
  background-color: white;
  border: solid .5vw grey;
  border-radius: 2vw;
  font-size: 10vw;
  text-align: center;
}

.timer
{
  position: relative;
  width: 10vw;
  height: 100%;
  flex-shrink: 1;
  background-color: lime;
  border: solid .5vw grey;
  border-radius: 2vw;
  overflow: hidden;
}
.timerfill
{
  position:absolute;
  bottom: 0;
  height:100%;
  width: 10vw;
  background-color:blue;
  transition: height linear 180s;
}
.popupBox
{
  text-align: center;
  position:fixed;
  display:block;
  top: -40vw;
  left: 5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width:90vw;
  background-color:white;
  border: solid .5vw grey;
  border-radius: 2vw;
  transition: top .5s, opacity .5s;
}
.startButt
{
  
  width:80%;
  font-size: 6vw;
  border-radius: 2vw;
  border: solid .5vw grey;
  padding-left: 1vw;
}

.filein {
  width: 80%;
  padding-left: 10%;
}

@media (min-aspect-ratio: 1/1) {
  body
  {
    font-size: 1.5rem;
  }

  .textin
  {
    width:90%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: solid 1px grey;
    padding-left: 1rem;
  }

  .textin:focus
  {
    border: solid 1px blue;
  }
  
  .letterDisp
  {
    width: 2rem;
    height: 2rem;
    border: solid 2px grey;
    border-radius: 0.5rem;
    font-size: 2rem;
  }
  
  .countdown
  {
    width: 2rem;
    height: 2rem;
    border: solid 2px grey;
    border-radius: 0.5rem;
    font-size: 2rem;
  }

  .timer
  {
    width: 2rem;
    border: solid 2px grey;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .popupBox
  {
    border: solid 2px grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .startButt
  {
    width:80%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: solid 1px grey;
    padding-left: 1rem;
  }
}