* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  background-color: #ff0000;
}

#maincontainer {
  background-color: green;
  
  display: flex;
  flex-direction: column;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#subcontainer {
  background-color: black;
  
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

#toolbar {
  background-color: #f0f0f0;
  width: 100%;
  height: 32px;
}

.toolbaroption {
  position: relative;
  height: 100%;
  border: none;
  padding: 0 10 0 10;
  margin: 0;
  background-color: rgba(0,0,0,0);
}

.toolbardropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 32px;
}

.dropdownitem {
  width: 100%;
  height: 32px;
  background-color: #ccc;
  text-align:left;
}

.dropdownitem:hover {
  background-color: #ddd;
}

.dropdownitem:active {
  background-color: white;
}

#tilepalette {
  width: 256px;
  height: 100%;
  
  flex-shrink:0;
  
  overflow-y: scroll;
}

div.tileholder {
  background-color: #d0d0d0;
  cursor: pointer;
  
  width: 100%;
  
  display: flex;
  flex-direction:row;
  
  padding: 16px;
}

div.tileholder:nth-child(even) {
  background-color: #a0a0a0;
}

div.selected {
  border: solid 4px green;
  border-bottom: solid 4px green !important;
  border-left: solid 4px green !important;
  padding: 12px;
}

div.rightsel {
  border: solid 4px red;
  border-top: solid 4px red !important;
  border-right: solid 4px red !important;
  padding: 12px;
}

div.tileimage {
  background: url("img/ss.png");
  
  flex-shrink: 0;

  display: inline-block;
  width: 32px;
  height: 32px;
}

div.tiledescription {
  margin-left: 16px;
}

#workspacecontainer {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#workspacepadding {
  background-color: blue;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#editing {
  position: fixed;
  padding: 5px;
  border-radius: 0 0 10px 0;
}

#workspace {
  background-color: black;
  
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  
  width: 640px;
  height: 480px;
}

#workspacefg {
  background-color: rgba(0,0,0,0.5);
  
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  
  width: 640px;
  height: 480px;
  margin-left: -640px;
}

#grayout {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100,100,100, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  text-align: center;
}

#loadDialogContainer {
  background-color: blue;
  width: 500px;
  padding: 16px;
}

#dragDropTarget {
  width: 90%;
  height: 100px;
  border: dashed 1px white;
  margin: 8px;
}